.App{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.APropos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    width: 90vw;
    object-fit: cover;
    margin-top: 40px;
}

@media(max-width: 980px){
    .APropos{
        margin-top: 19px;
    }
}