.card{
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    background: linear-gradient(145deg, #ff7a7a, #ff4747);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  pointer-events: none;
}
