.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #ff6060;
  color: #fff;
  padding: 10px 20px 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 52px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #F6F6F6;
  color: #ff6060;
  padding: 0px 14px 4px 20px;
}
.dropdown.opened .dropdown-menu {
  max-height: 200px;
  background-color: #F6F6F6;
  color: #ff6060;
  padding: 0px 14px 4px 20px;
  border-radius: 5px;
}
.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.allDropDown {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 1023px;
  gap: 8%;
}

.allDropDown button {
  width: 582px;
}

.APropos {
  width: min-content;
  margin-top: 30px;
}

.APropos button {
  width: 1023px;
  margin-top: 30px;
}