.dropdown {
  position: relative;
  max-width: 582px; 
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  height: 52px;
  width: 100%;
}
.dropdown.opened{
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}

.dropdown-toggle {
  background-color: #ff6060;
  color: #fff;
  padding: 10px 20px 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 52px;
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0s ease-in-out;
  background-color: #F6F6F6;
  color: #ff6060;
  padding: 0px 14px 0px 20px;
  border-radius: 5px;
}

.dropdown.opened .dropdown-menu {
  max-height: 200px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
}

.APropos {
  width: 100%t;
  margin-top: 30px;
}

.allDropDown {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 8%;
  width: 100%; 
}


 @media (max-width: 980px){
  .allDropDown{
    flex-direction: column;
  }
 }

@media (max-width: 980px) {
    .dropdown {
        max-width: none;
    }
}



@media (max-width: 980px) {
    .dropdown-toggle {
        width: 100%;
    }
}

