.logementImg{
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.image-container{
    position: relative;
    width: 1240px;
}
.arrow-left{
    position: absolute;
    left: 1%;
    top: 39%;
}

.arrow-right{
    position: absolute;
    right: 1%;
    top: 39%;
}
.image-container p{
    position: absolute;
    left: 50%;
    bottom: 1%;
    color: white;
    font-size: 18px;
}

.tags ul{
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.tags li{
    background-color: #FF6060;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    min-width: 115px;
    padding: 0px 5px 0px 5px;
}
