footer{
    margin-top: 43px;
    object-fit: cover;
}


.footer-logo{
    width: 100%;
    display: block;
    min-height: 85px;
    object-fit: cover;
}

@media(max-width: 980px){
    footer{
        margin-top: 19px;
    }
}