.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
}

.header {
    margin: 40px 100px 38px 100px;
    max-width: 1240px;
}

@media (min-width: 1440px) {
    .header {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 1420px) {
    .header {
        margin: 20px auto 28px auto;
    }
}

@media (max-width: 1280px) {
    .header {
        margin: 20px 20px 19px 20px;
    }
}


.nav__list  {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #ff6060;
  gap: 30px;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 142.6%;
}

.nav__list li {
  cursor: default;
}

.nav__list li:hover {
  text-decoration-line: underline;
}

.nav__list li a,
.nav__list li a:visited,
.nav__list li a:active {
  color: #ff6060; 
  text-decoration: none; 
}